<div class="noticias columna centrar">
    <div>
        <p>Reciba <strong>nuestras noticias</strong> de propiedades</p>
    </div>
    <div class="fila-n">
        <input type="text" class="btn-l x" placeholder="Email">
        <button class="btn-l x">Enviar</button>
    </div>
    <div class="fila-n">
        <label class="l-aceptar"><input type="checkbox" class="i-aceptar"> Aceptar la política de privacidad</label>
        <label class="l-aceptar"><input type="checkbox" class="i-aceptar"> Aceptar recibir publicidad</label>
    </div>
</div>