.navbar {
  background: #232323 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 0;
  position: fixed;
  width: 100%;
  color: white;
}

.img-ivercasa {
  width: auto;
  height: 25px;
  padding: 12px 0px;
}

.bars {
  display: none;
  font-size: 30px;
  padding: 10px 10px 10px 0px;
}

.menu > li {
  display: inline;
  padding: 0px 10px;
  font-size: 16px;
}

.navbar > div:nth-child(1) {
  width: 50%;
  padding-left: 150px;
}

.navbar > div:nth-child(2) {
  width: 50%;
  padding-right: 150px;
}

.telefono {
  text-align: right;
  font-size: 16px;
}

.telefono > p > i {
  padding: 0px 10px;
}

@media (max-width: 700px) {
  .img-ivercasa {
    width: auto;
    height: 18px;
  }

  .bars {
    display: block;
    font-size: 24px;
  }

  .menu {
    display: none;
  }

  .navbar > div:nth-child(1) {
    padding: 5px 0px 5px 10px;
  }

  .navbar > div:nth-child(2) {
    padding: 5px 10px 5px 0px;
  }
}
