 <div class="navbar fila">
     <div class="fila">
        <i class="fas fa-bars bars" (click)="desplegar_menu()"></i>
        <img class="img-ivercasa" src="../../../assets/IMAGENESPRUEBAS/Grupo 226.svg" alt="LOGO IVERCASA">

        <ul class="menu">
            <li>Empresa</li>
            <li>Blog</li>
            <li>Contactanos</li>
            <li>Favoritos</li>
        </ul>
     </div>

     <div class="telefono">
         <p><i class="fas fa-phone-alt"></i>987 654 321</p>
     </div>
 </div>