.footer {
  background-color: #232323;
  padding: 0px 10% 0px 10%;
}

/*  IMFORMACION */

.ibx {
  background-color: #ffff;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
}

.info1 {
  grid-area: necesitas;
  color: width;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
}
.info2 {
  grid-area: nombre;
}
.info3 {
  grid-area: telefono;
}
.info4 {
  grid-area: email;
}
.info5 {
  grid-area: mensaje;
}
.info6 {
  grid-area: condi;
  color: white;
}
.info6 > input {
  margin-right: 30px;
  text-align: right;
}
.info7 {
  grid-area: aceptar;
  background-color: #232323;
  color: white;
  border-radius: 5px;
  padding: 20px 15px 20px 15px;
  font-weight: bolder;
}

.informacion {
  background-color: #484848;
  border-radius: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  width: 100%;
  display: grid;
  grid-template-areas:
    "necesitas necesitas"
    "nombre telefono"
    "email email"
    "mensaje mensaje"
    "condi condi"
    "aceptar aceptar";
  grid-gap: 20px;
  padding: 30px;
  text-align: center;
  margin: 50px 4% 50px 10%;
  box-sizing: border-box;
}

/*  IMFORMACION */

.google {
  width: 100%;
  margin: 50px 10% 50px 4%;
  box-sizing: border-box;
  padding: 30px;
}

.google > label {
  font-size: 30px;
  color: white;
}

.google > ul {
  font-size: 16px;
  color: white;
}

.google > ul > li:nth-child(3) {
  margin-top: 30px;
}

.google > button {
  font-size: 16px;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffff;
  width: 200px;
  font-weight: bold;
  margin: 40px 0px 40px 0px;
}

.google > img {
  height: 50px;
  width: 300px;
  margin: 0px 0px 40px 0px;
}

.google > div > button {
  background-color: #ffff;
  margin: 0px 10px 0px 0px;
  border-radius: 8px;
  font-size: 20px;
  padding: 10px;
}

/** CONDICIONES ****/

.cond1 {
  grid-area: terminos;
}
.cond2 {
  grid-area: politica;
}
.cond3 {
  grid-area: ivercasa;
}
.cond4 {
  grid-area: derechos;
}

.condiciones {
  border-top: 1px solid rgba(155, 155, 155, 0.15);
  width: 100%;
  display: grid;
  grid-template-areas:
    "terminos politica"
    "ivercasa ivercasa"
    "derechos derechos";
  grid-gap: 20px;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

.condiciones > a {
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .footer {
    background-color: #232323;
    padding: 0px 5%;
  }
  .footer > div {
    display: flex;
    flex-direction: column !important;
  }

  /*  IMFORMACION */

  .info1 {
    grid-area: necesitas;
    font-size: 22px;
    color: #fff;
  }

  .info6 {
    grid-area: condi;
    text-align: justify;
    font-size: 10px;
  }

  .informacion {
    width: 96%;
    display: grid;
    grid-template-areas:
      "necesitas"
      "nombre"
      "telefono"
      "email"
      "mensaje"
      "condi"
      "aceptar";
    grid-gap: 20px;
    padding: 30px;
    text-align: center;
    margin: 50px 1% 50px 1%;
    box-sizing: border-box;
  }

  /*  IMFORMACION */

  .google {
    width: 100%;
    margin: 50px 1% 50px 1%;
    box-sizing: border-box;
    padding: 30px;
  }

  .google > label {
    font-size: 22px;
  }

  .google > ul {
    font-size: 18px;
  }

  .google > img {
    width: auto;
  }

  /** CONDICIONES ****/

  .condiciones {
    width: 100%;
    display: grid;
    grid-template-areas:
      "terminos politica"
      "ivercasa ivercasa"
      "derechos derechos";
    grid-gap: 10px;
    padding: 30px 5px 30px 5px;
    text-align: center;
    box-sizing: border-box;
  }

  .condiciones > a {
    color: #ffff;
    font-size: 10px;
  }
}
