<div class="menu-p columna" (click)="cerrar_menu()">
    <img [src]="ivercasa" alt="LOGO IVERCASA" class="iver-img">

    <ul class="menu columna">
        <li>Empresa</li>
        <li>Blog</li>
        <li>Favoritos</li>
        <li>Contactenos</li>
    </ul>

    <div class="fila redes">
        <button class="btn-l puntos"><i class="fab fa-facebook-square"></i></button>
        <button class="btn-l puntos"><i class="fab fa-instagram"></i></button>
    </div>

    <label class="terminos">Términos y Condiciones de Uso</label>
</div>