<div class="casa centrar columna">
    <div class="casa-sub">
        <label>Encontramos <strong>la casa</strong> de tus sueños</label>
        <div class="casa-sub-sub">
            <div class="tipo">
                <button class="btn-l x">En venta</button>
                <button class="btn-l x">En alquiler</button>
            </div>

            <div class="buscar">
                <select class="x btn-l">
                    <option value="">Tipo de propiedad</option>
                </select>

                <input type="text" class="x btn-l" placeholder="Busqueda por palabras clave">
                <button class="x btn-l">¡Busquemos!</button>
            </div>
        </div>
    </div>

    <div class="podemos">
        <button class="x btn-l">¿Podemos ayudarte? <i class="fas fa-question-circle"></i></button>
    </div>
</div>
 